body {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 52px;
    align-items: center;
    padding-bottom: 52px;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 24px;
    color: #F9FAF8;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 16px;  
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}