body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0.25pc 20pc;
    align-items: center;
    padding-bottom: 5pc;
    gap: 20px;

}

.header-logo {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-right: 20px;
}

.hero{
    width: 25pc;
}

.placeholder-image {
    background-color: grey;
    height: 300px;
    width: 700px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.second-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-top: 2pc;
}

button {
    width: 74px;
    height: 24px;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: #E5E7EB;
}

img {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    border: 5px solid #3882f6
}

.img-line {
    display: flex;
    justify-content:space-around;
    padding: 10pc 30pc;
    padding-top: 2pc;
}

.text {
    display: flex;
    width: 150px;
    text-align: center;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 16px;  
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.review {
    background-color: #E5E7EB;
    padding: 5pc 40pc;
}

.quote {
    size: 32px;
    font-style: italic;
    color: #1F2937;
}

.customer {
    text-align: right;
    font-weight: 700;
    color: #1F2937;
}

.action{
    display: flex;
    background-color: #3882f6;
    margin: 5pc 30pc;
    border-radius: 0.5pc;
    padding: 3pc 7pc;
    justify-content: space-between;
    align-items: center;
}

.action-left {
    size: 18px;
    color: #E5E7EB;    
}

.action-call {
    font-weight: 900;
}

footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 2pc ;
}